{% extends "base.html" %}
{% block content %}
<section class="">
    <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
        id="layout-navbar">

        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
            </a>
        </div>

        <div class="navbar-nav-right d-flex w-100 align-items-center" id="navbar-collapse">
            <!-- Search -->
            <div style="width: 100%;" class="navbar-nav align-items-center">
                <form class="nav-item d-flex w-100 align-items-center">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <input type="search" class="form-control border-0 w-100 shadow-none" placeholder="Search..."
                        aria-label="Search..." />
                </form>
            </div>
            <!-- /Search -->
        </div>
    </nav>
    <!-- Table -->
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="card">
                <h5 class="card-header">รายวิชา</h5>
                <div class="table-responsive text-nowrap">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>รหัสวิชา</th>
                                <th>ชื่อรายวิชา</th>
                                <th>หน่วยกิต</th>
                                <th>หมวดหมู่</th>
                                <th>ภาคเรียนที่</th>
                                <th>ปีการศึกษา</th>
                                <th>ผู้สอน</th>
                                <th>สถานะ</th>
                            </tr>
                        </thead>
                    
                        <tbody class="table-border-bottom-0">
                            <tr v-for="item in classes" >
                                <td>
                                    <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>[{ item.class_id }]</strong>
                                    </td>
                                <td>[{ item.class_name }]</td>
                                <td>[{ item.class_credit }]</td>
                                <td>[{ item.class_category }]</td>
                                <td>[{ item.semester }]</td>
                                <td>[{ item.class_year }]</td>
                                <td>[{ item.teacher }]</td>

                                <td>
                                    <span v-if="!item.on_register" class="badge bg-label-danger me-1">ปิดการลงทะเบียน</span>
                                    <span v-if="item.on_register" class="badge bg-label-success me-1">เปิดการลงทะเบียน</span>
                                </td>
                            
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block script %}
<script>
    const { createApp, ref, computed } = Vue;

    createApp({
        delimiters: ["[{", "}]"],
        data() {
            
            return {
                classes:null
            };
        },
        mounted() {
            axios
                .get(`{% url 'api-get-classes' %}`)
                .then((response) => {
                    if (response.data['status']) {
                        this.classes = response.data['data'];
                        

                    }
                });
        },

    }).mount('#app')
</script>
{% endblock script %}